body {scrollbar-face-color:black; scrollbar-track-color:#333333; scrollbar-3dlight-color:#666666; scrollbar-highlight-color:#333333; scrollbar-shadow-color:#333333; scrollbar-arrow-color:#555555;}
td, p {font-family:arial,helvetica; font-size:12px; color:white}
td.trumps, p.trumps {font-family:arial,helvetica; font-size:11px; color:black}
tr:hover.trumps td {background:#FCF0AD; cursor:pointer}a, a:active, a:visited {color:#66CCFF; text-decoration:none}
a:hover {color:red}
a.trumps, a:active.trumps, a:visited.trumps {color:black; text-decoration:none}
a:hover.trumps {color:red}
hr {color:#808080; height:1px; border-width:0; background-color:#808080}
.heading {font-family:arial,helvetica; font-weight:bold; font-size:22px}
.subheading {font-family:arial,helvetica; font-size:16px}
.footer {color:#C0C0C0; font-size:10px}
.year {font-family:arial,helvetica; font-size:14px}
.cardheading {font-family:arial,helvetica; font-size:12px; font-weight:bold; color:black}
.yellow {font-size:12px; color:yellow; font-weight:bold}
.standout {font-size:12px; font-style:italic; font-weight:bold}
.proddates {font-family:arial,helvetica; font-size:18px; color:#AAAAAA}
.rank {font-weight:bold; font-size:35px; color:#66CCFF}
.car {font-weight:bold; font-size:18px}
.value {font-weight:bold; font-size:23px; color:white}
.units {font-weight:bold; font-size:18px; color:white}
.contents {color:white; text-decoration:none; cursor:hand; background-image:url('images/button_clear.jpg')}
.mastheadphotos {float:left; width:825px; height:275px; border:0px solid; overflow:hidden; white-space:nowrap}
.galleryphotos {float:left; width:740px; height:90px; border:0px solid; overflow:auto; white-space:nowrap}
.galleryphotos2 {float:left; width:780px; height:300px; border:0px solid; overflow:auto}
.carnames {float:left; width:825px; height:15px; border:0px solid; overflow:hidden; white-space:nowrap}
.prevarrow {position:absolute; top:150px; left:20px}
.nextarrow {position:absolute; top:150px; left:785px}
.dreamsource {float:left; width:825px; height:160px; border:0px; overflow:auto; white-space:nowrap}
#feedControl .gfc-resultsHeader .gfc-title {font-size:14px; color:white;}
#feedControl .gf-author {display:none;}
#feedControl .gf-relativePublishedDate {display:none;}
#feedControl .gf-spacer {display:none;}
::-webkit-scrollbar-track {background-color: #333333;}
::-webkit-scrollbar-thumb {background-color: #550000;}
